<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="bookbean" class="com.book.bookapp.BookBean" init-method="init" destroy-method="destory"> 
<property name="isbn" value="876"></property> 
<property name="bookName" value="adsd"></property>
<property name="author" value="asdasd"></property>
<property name="price" value="87699"></property></bean>
</beans>
