<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="metal"  class="com.dev.devapp.bean.MetalBean">
<constructor-arg value="Ir809" ></constructor-arg>
<constructor-arg value="Iron"></constructor-arg>
<constructor-arg value="607kg"></constructor-arg>
<constructor-arg value="32perkg"></constructor-arg>
</bean>


</beans>
