<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="station"  class="com.dev.devapp.bean.StationaryBean">
<!-- <property name="stationaryID" value="1"></property>
<property name="stationaryName" value="SLV"></property>
<property name="stationaryAddress" value="Bengaluru"></property>
<property name="stationaryOwnerName" value="Kumar"></property>
</bean>
 -->	
<constructor-arg value="3"></constructor-arg>
<constructor-arg value="SlN"></constructor-arg>
<constructor-arg value="Bengaluru"></constructor-arg>
<constructor-arg value="kumar"></constructor-arg>
</bean>
</beans>
